# Global things
cache:
  key: '$ARCH'
  paths:
    - .venv-$ARCH/

variables:
  CONAN_CHANNEL: stable
  CONAN_LOGIN_USERNAME: r1tschy
  CONAN_USERNAME: r1tschy
  CONAN_UPLOAD: https://api.bintray.com/conan/r1tschy/sailfishos@1@sailfishos

before_script:
  # route /builds to sb2
  - echo 'use_outside_path("/builds")' > $HOME/.sbrules
  # /builds with target exec policy
  - sudo sed -i 's%sbox_user_home_dir%"/builds", exec_policy_name = "Target"},{dir = sbox_user_home_dir%' /usr/share/scratchbox2/modes/sdk-build/config.lua

  # Install python devel to compile python packages
  - 'dev/installenv $ARCH zypper -qn in cmake python3-devel $EXTRA_DEPS'
  # Create conan venv
  - 'dev/buildenv $ARCH dev/commands/prepare-buildenv'

stages:
  - "no deps"
  - "KF5 Tier 1"

# -- JOBS --
extra-cmake-modules i486:
  stage: "no deps"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "i486"
    EXTRA_DEPS: ""
  script:
    - "dev/buildenv $ARCH python ci_build.py extra-cmake-modules"
  only:
    changes:
      - "extra-cmake-modules/**/*"

kcoreaddons armv7hl:
  stage: "KF5 Tier 1"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "armv7hl"
    EXTRA_DEPS: "pkgconfig(Qt5Test)"
  script:
    - "dev/buildenv $ARCH python ci_build.py kcoreaddons"
  only:
    changes:
      - "kcoreaddons/**/*"

kcoreaddons i486:
  stage: "KF5 Tier 1"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "i486"
    EXTRA_DEPS: "pkgconfig(Qt5Test)"
  script:
    - "dev/buildenv $ARCH python ci_build.py kcoreaddons"
  only:
    changes:
      - "kcoreaddons/**/*"

ki18n armv7hl:
  stage: "KF5 Tier 1"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "armv7hl"
    EXTRA_DEPS: "pkgconfig(Qt5Test) pkgconfig(Qt5Script) gettext-devel"
  script:
    - "dev/buildenv $ARCH python ci_build.py ki18n"
  only:
    changes:
      - "ki18n/**/*"

ki18n i486:
  stage: "KF5 Tier 1"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "i486"
    EXTRA_DEPS: "pkgconfig(Qt5Test) pkgconfig(Qt5Script) gettext-devel"
  script:
    - "dev/buildenv $ARCH python ci_build.py ki18n"
  only:
    changes:
      - "ki18n/**/*"

kconfig armv7hl:
  stage: "KF5 Tier 1"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "armv7hl"
    EXTRA_DEPS: "pkgconfig(Qt5Test)"
  script:
    - "dev/buildenv $ARCH python ci_build.py kconfig"
  only:
    changes:
      - "kconfig/**/*"

kconfig i486:
  stage: "KF5 Tier 1"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "i486"
    EXTRA_DEPS: "pkgconfig(Qt5Test)"
  script:
    - "dev/buildenv $ARCH python ci_build.py kconfig"
  only:
    changes:
      - "kconfig/**/*"

libssh armv7hl:
  stage: "no deps"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "armv7hl"
    EXTRA_DEPS: "pkgconfig(openssl)"
  script:
    - "dev/buildenv $ARCH python ci_build.py libssh"
  only:
    changes:
      - "libssh/**/*"

libssh i486:
  stage: "no deps"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "i486"
    EXTRA_DEPS: "pkgconfig(openssl)"
  script:
    - "dev/buildenv $ARCH python ci_build.py libssh"
  only:
    changes:
      - "libssh/**/*"

qca armv7hl:
  stage: "no deps"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "armv7hl"
    EXTRA_DEPS: "git pkgconfig(Qt5Core) pkgconfig(openssl)"
  script:
    - "dev/buildenv $ARCH python ci_build.py qca"
  only:
    changes:
      - "qca/**/*"

qca i486:
  stage: "no deps"
  image: "r1tschy/sailfishos-platform-sdk:$ARCH"
  variables:
    ARCH: "i486"
    EXTRA_DEPS: "git pkgconfig(Qt5Core) pkgconfig(openssl)"
  script:
    - "dev/buildenv $ARCH python ci_build.py qca"
  only:
    changes:
      - "qca/**/*"